openapi: 3.0.0
info:
  title: sheepCRM API
  version: 1.0.0
servers:
  - url: https://sls-api.sheepcrm.com
paths:

  /api/v2/find/person/{bucket}:
    $ref: 'requests/Person.yaml#/PersonFind'

  /api/v2{contact_uri}summary:
    $ref: 'requests/Contacts.yaml#/ContactSummary'

  /api/v2{person_uri}communications/detail:
    $ref: 'requests/Person.yaml#/PersonCommunicationsDetail'

  /api/v2{person_uri}personal/detail:
    $ref: 'requests/Person.yaml#/PersonPersonalDetail'

  /api/v2{person_uri}membership/all:
    $ref: 'requests/Person.yaml#/PersonMembershipAll'

  /api/v2{bucket}/member/{uid}/:
    $ref: 'requests/Member.yaml#/MembershipSingle'

  /api/v2{bucket}/member/{uid}/detail:
    $ref: 'requests/Member.yaml#/MembershipDetail'

  /search/v2/{bucket}:
    $ref: 'requests/Search.yaml#/Search'

  #
  # Notifications
  #

  /notifications/v2/{bucket}:
    $ref: 'requests/Notifications.yaml#/Notifications'

  /notifications/v2/{bucket}/{resource_type}/{uid}:
    $ref: 'requests/Notifications.yaml#/NotificationsSingle'

  /notifications/v2/{bucket}/{resource_type}/{uid}/complete:
    $ref: 'requests/Notifications.yaml#/NotificationsComplete'

  /notifications/v2/{bucket}/{resource_type}/{uid}/snooze:
    $ref: 'requests/Notifications.yaml#/NotificationsSnooze'

  #
  # Self Service / App API
  #

  /selfservice-pdf/v2/{bucket}/{resource_type}/{uid}/invoice/{signature}/pdf:
    $ref: 'requests/SelfservicePDF.yaml#/InvoicePDF'

  /selfservice-pdf/v2/{bucket}/giving/taxyear/{startyear}/{endyear}/pdf:
    $ref: 'requests/SelfservicePDF.yaml#/GivingTaxYearPDF'

  /selfservice-pdf/v2/{bucket}/member/{uid}/card:
    $ref: 'requests/SelfservicePDF.yaml#/MemberCardPDF'

