openapi: 3.0.0
info:
  title: sheepCRM API
  version: 1.0.0
  description: |
    The sheepCRM API is a RESTful API that allows you to access and manipulate data in
    your sheepCRM database. Sheep was built with an API-first approach, so all of the
    functionality you see in the web interface is available via the API.

    The API is designed to be used by developers to build custom integrations and
    applications. It is not designed to be used by end users, although some of the
    endpoints are available to end users via the self-service app.

    Please report any inaccuracies or omissions to support@sheepcrm.com on the
    understanding that this documentation is a work in progress and will be updated
    regularly.
servers:
  - url: https://sls-api.sheepcrm.com
paths:
  /api/v2/{bucket}/{resource_type}/{uid}/avatar:
    get:
      operationId: getAvatar
      summary: Avatar
      description: |
        The avatar for the person or organisation
        If an image has been provided it will be returned as a redirect
        If no image has been provided a placeholder image will be generated
        based on the initials of the name.
      tags:
        - Contact
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: PNG Image
        '302':
          description: Redirect to the image
          headers:
            location:
              description: Location of the remote image
              schema:
                type: string
        '404':
          description: Not found
  /api/v2/{bucket}/{resource_type}/{uid}/display:
    get:
      operationId: getDisplay
      summary: Display
      description: |
        The display name for the record e.g. the persons name or the organisation name
      tags:
        - Contact
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: The display name for the record
          content:
            application/json:
              schema:
                properties:
                  display_value:
                    type: string
                    example: Caroline Smith
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2/find/person/{bucket}:
    get:
      summary: Find Person (specific)
      description: |
        check for a specific person contact from within sheepCRM, for general searching use the search endpoint.
        this call has been deprecated in favour of an identical call to the search endpoint /search/v2/{bucket}/person
      deprecated: true
      operationId: checkForPerson
      tags:
        - Search
        - People
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            type: string
        - name: title
          in: query
          required: false
          schema:
            type: string
        - name: first_name
          in: query
          required: false
          schema:
            type: string
        - name: last_name
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: date_of_birth
          in: query
          required: false
          schema:
            type: string
        - name: postal_code
          in: query
          required: false
          schema:
            type: string
        - name: take_first_if_multiple
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{contact_uri}summary:
    get:
      summary: Contact - summary
      description: get a summary of a contact (person or organisation) from their uri
      operationId: getContactSummary
      tags:
        - Contact
      parameters:
        - name: contact_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{person_uri}communications/detail:
    get:
      summary: Person - communications detail
      description: get the communication details for a person e.g. email, phone, address
      operationId: getPersonCommunications
      tags:
        - Contact
        - People
      parameters:
        - name: person_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{person_uri}personal/detail:
    get:
      summary: Person - personal detail
      description: get the personal details for a person
      operationId: getPersonPersonal
      tags:
        - Contact
        - People
      parameters:
        - name: person_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{person_uri}membership/all:
    get:
      summary: Person - membership list
      description: Get the full membership history for a person, current and historic, use the /summary endpoint for a faster summary
      operationId: getPersonMembership
      tags:
        - Contact
        - Membership
        - People
      parameters:
        - name: person_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonMembershipAll'
  /api/v2{bucket}/member/{uid}/:
    get:
      summary: Membership - single
      description: Get a summary of a single membership record (a member record), use the /detail endpoint to get the full details
      operationId: getMemberSummary
      tags:
        - Membership
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{bucket}/member/{uid}/detail:
    get:
      summary: Membership - single detail
      description: Get a summary of the membership details for a person, use the /all endpoint to get the full details
      operationId: getMemberDetail
      tags:
        - Membership
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2/{bucket}/audit:
    get:
      summary: Audit
      description: |
        Pull audit log messages across the whole client for a time period
        Available as standard JSON packet or a list for easier reading
        Note the call is time limited to 20 seconds, so if you have a lot of audit messages
        you may need to reduce the limit and break into multiple calls
      tags:
        - Audit
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: from
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/datetime'
            default: yesterday
        - name: to
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/datetime'
            default: now
        - name: resource
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: format
          in: query
          required: false
          schema:
            enum:
              - json
              - list
            default: json
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2/{bucket}/{resource_type}/{uid}/audit:
    get:
      summary: Audit - Single Record
      description: |
        Pull audit log messages from a single record
      tags:
        - Audit
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: since_days
          in: query
          required: false
          schema:
            type: integer
            default: 180
      responses:
        '200':
          description: A list of change records for the URI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diff_list'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /api/v2/{bucket}/{resource_type}/{uid}/provenance:
    get:
      summary: Audit - provenance
      description: |
        Pull the provenance for a specific record
      tags:
        - Audit
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /events/v2/{bucket}:
    get:
      operationId: getEvents
      summary: Events - List
      description: |
        All the events for a client within the past 14 days and next 90
        Aliased as /events/v2/{bucket}/bookings
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A list of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/bookings/{state}:
    get:
      operationId: getEventsByState
      summary: Events - List by state
      description: All events by their status
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: state
          in: path
          required: true
          description: the state or classification
          schema:
            type: string
            enum:
              - all
              - current
              - draft
              - future
              - past
              - running
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A list of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}:
    get:
      operationId: getEvent
      summary: Events - Single
      description: All the details for an event
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Single Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingle'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/summary:
    get:
      operationId: getEventSummary
      summary: Events - Single summary
      description: |
        Reduced fields for faster API call and for accounts without access to the full event details
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Single Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingle'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/attendance:
    get:
      operationId: getEventAttendance
      summary: Event - Attendance
      description: |
        All the attendees for an event
        Aliased as /events/v2/{bucket}/bookings/{uid}/attendance
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of attendees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendanceList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
    put:
      summary: Event - Attendance
      description: |
        Set the attendance status for a single attendee
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: person_uri
          in: query
          description: The URI of the person
          required: true
          schema:
            $ref: '#/components/schemas/uri'
        - name: status
          in: query
          description: the attendance status
          required: true
          schema:
            type: string
            example: attended
            enum:
              - invited
              - accepted
              - declined
              - attended
              - no-show
      responses:
        '200':
          description: Updated Event Attendance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedEventAttendance'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/attendance/all:
    get:
      operationId: getEventAttendanceAll
      summary: Event - Attendance
      description: |
        All the attendees for an event
        Aliased as /events/v2/{bucket}/bookings/{uid}/attendance
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of attendees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendanceList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/available_tickets:
    get:
      operationId: getEventAvailableTickets
      summary: Event - Available Ticket Types
      description: |
        Get all the ticket types available for a specific event
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of available tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAvailableTickets'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/orders:
    get:
      operationId: getEventOrders
      summary: Event - Orders
      description: All the orders for an event
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/orders/export:
    get:
      operationId: getEventOrdersExport
      summary: Event - Orders Export
      description: |
        All the orders for an event in spreadsheet format
      tags:
        - Events
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Binary XLSX file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
  /events/v2/{bucket}/booking/{uid}/tickets/all:
    get:
      operationId: getEventTicketsAll
      summary: Event Tickets
      description: Get all the ticket for a specific event
      tags:
        - Events
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketsList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/{resource_type}/{uid}/order/{euid}:
    get:
      operationId: getEventOrder
      summary: Event Order - get
      description: A specific order for an event
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: euid
          in: path
          required: true
          description: The event UID
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: A single order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
    delete:
      operationId: deleteEventOrder
      summary: Event Order - delete
      description: Deleted a specific, single order for an event
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: euid
          in: path
          required: true
          description: The event UID
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: A single order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDeleted'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/{resource_type}/{uid}/order/{euid}/questions:
    get:
      operationId: getEventOrderQuestions
      summary: Event Order - questions
      description: The questions and answers submitted for this order
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: euid
          in: path
          required: true
          description: The event UID
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: A single order questions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuestions'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /internal/v2/{bucket}/membership_type/{uid}/extras:
    get:
      operationId: getMembershipTypeExtras
      summary: Membership Plan - Extra settings
      description: |
        Get the extra settings for a membership plan
      tags:
        - Membership
        - Internal
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/membership_type/{uid}/extras/additional_field:
    post:
      operationId: updateMembershipTypeExtras
      summary: Membership Plan - Extras - Add additional field
      description: |
        Add an additional user input field to a membership plan
      tags:
        - Membership
        - Internal
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: label
          in: query
          required: true
          schema:
            type: string
            description: The label for the field that will be shown to the user
        - name: field
          in: query
          required: false
          schema:
            type: string
            description: The field name, if not provided the label will be slugified
        - name: description
          in: query
          required: true
          schema:
            type: string
            description: A description of the field, shown to the user
        - name: form_type
          in: query
          required: true
          schema:
            type: string
            description: The type of field
            enum:
              - checkbox
              - date
              - email
              - number
              - person_record
              - select
              - tel
              - text
              - textarea
        - name: required
          in: query
          required: false
          schema:
            type: boolean
            description: Is this field required?
        - name: options
          in: query
          required: false
          schema:
            type: array
            description: |
              If the form_type is select, this is the list of options that will be shown to the user
            items:
              type: string
        - name: dob_required
          in: query
          required: false
          schema:
            type: boolean
            description: |
              If the form_type is person_record, is the date of birth required?
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
    delete:
      operationId: deleteMembershipTypeExtras
      summary: Membership Plan - Extras - Remove additional field
      description: |
        Remove an additional user input field from a membership plan
      tags:
        - Membership
        - Internal
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: field
          in: query
          required: true
          schema:
            type: string
            description: The field name to be removed
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/membership_type/{uid}/extras/condition:
    post:
      operationId: updateMembershipTypeExtrasCondition
      summary: Membership Plan - Extras - Add condition
      description: |
        Add a condition to a membership plan
        e.g. Age: Under 18
      tags:
        - Membership
        - Internal
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: key
          in: query
          required: true
          schema:
            type: string
            description: The key element of the condition
        - name: value
          in: query
          required: true
          schema:
            type: string
            description: The value element of the condition
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
    delete:
      operationId: deleteMembershipTypeExtrasCondition
      summary: Membership Plan - Extras - Remove condition
      description: |
        Remove a condition from a membership plan
      tags:
        - Membership
        - Internal
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: key
          in: query
          required: true
          schema:
            type: string
            description: The key element of the condition
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/sync/{partner}/{action}/{data_type}:
    post:
      operationId: partnerSync
      summary: Request Partner Sync
      description: |
        Request a sync with a partner
      tags:
        - Internal
        - Partners
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: partner
          in: path
          required: true
          description: The partner to sync with e.g. mailchimp, gocardless, stripe
          schema:
            type: string
            enum:
              - clio
              - gocardless
              - mailchimp
              - mryum
              - stripe
        - name: action
          in: path
          required: true
          description: The action to perform e.g. pull, push
          schema:
            type: string
            enum:
              - pull
              - push
        - name: data_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - contacts
              - consents
              - payments
          description: The data type to sync e.g. contacts, payments
        - name: since_hours
          in: query
          required: false
          schema:
            type: integer
            description: |
              The number of hours to look back for changes
              e.g. 24 would look back 24 hours for changes
            default: 24
        - name: create_contacts
          in: query
          required: false
          schema:
            type: boolean
            description: |
              If the data_type is contacts, should new contacts be created?
        - name: full
          in: query
          required: false
          schema:
            type: boolean
            description: |
              Where supported a full sync will override the since_hours parameter
      responses:
        '200':
          description: |
            Details of the request.
            The output from the requested sync will appear in the usage reports with a summary of the results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerSync'
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /invoices/v2/{bucket}/{invoice_type}/{uid}:
    get:
      operationId: getInvoice
      summary: Invoice - Single
      description: |
        A single master invoice or statement record containing the details of the invoice,
        client config data and payment details
      tags:
        - Finance
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: invoice_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/invoice_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Invoice record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /invoices/v2/{bucket}/{invoice_type}/{uid}/{signature}:
    get:
      operationId: getInvoiceWithSignature
      summary: Invoice - Single with signature
      description: |
        A single master invoice or statement record containing the details of the invoice,
        client config data and payment details
      tags:
        - Finance
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: invoice_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/invoice_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: signature
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/signature'
      responses:
        '200':
          description: Invoice record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /notifications/v2/{bucket}:
    get:
      operationId: getNotifications
      summary: Notifications - list for user
      description: Get all notifications for the user ordered by date (new -> old)
      tags:
        - Notifications
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 7
      responses:
        '200':
          description: A list of resource records matching the search terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getNotifications'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /notifications/v2/{bucket}/{resource_type}/{uid}:
    get:
      operationId: getSingleNotifications
      summary: Notifications - single
      description: Get a single notification
      tags:
        - Notifications
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /notifications/v2/{bucket}/{resource_type}/{uid}/complete:
    put:
      operationId: completeSingleNotifications
      summary: Notifications - complete
      description: Mark a single notification as complete
      tags:
        - Notifications
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /notifications/v2/{bucket}/{resource_type}/{uid}/snooze:
    put:
      operationId: snoozeSingleNotifications
      summary: Notifications - snooze
      description: Snooze a single notification for 24 hours or for 24 hours from now if overdue.
      tags:
        - Notifications
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /search/v2/{bucket}:
    get:
      summary: Search - 'Global'
      description: |
        search across the whole system `/search/v2/{bucket}/?q=John+Smith`
        The global url is an alias: /search/v2/{bucket}/global
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: q
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/q'
      responses:
        '200':
          description: A list of resource records matching the search terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultsResponse'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /search/v2/{bucket}/help:
    get:
      summary: Search - Help
      description: |
        search within our help documentation
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: q
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/q'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /search/v2/{bucket}/car:
    get:
      summary: Search - Vehicles
      description: |
        search for a specific vehicle by registration number, engine number or identifying number
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: registration_number
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/registration_number'
        - name: engine_number
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/engine_number'
        - name: identifying_number
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/identifying_number'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /search/v2/{bucket}/person:
    get:
      summary: Search - People
      description: |
        search for a specific person (this is the same as the /api/v2/find/person/{bucket} endpoint)
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            type: string
        - name: title
          in: query
          required: false
          schema:
            type: string
        - name: first_name
          in: query
          required: false
          schema:
            type: string
        - name: last_name
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: date_of_birth
          in: query
          required: false
          schema:
            type: string
        - name: postal_code
          in: query
          required: false
          schema:
            type: string
        - name: take_first_if_multiple
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /segments/v2/{bucket}/:
    get:
      operationId: segmentsActive
      summary: Segments - All active segments
      description: |
        Segments are groups of records that can be used for browsing or bulk actions. This endpoint returns a list of all the active segments in the system.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page_size'
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page'
      responses:
        '200':
          description: |
            The segments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/all'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/all:
    get:
      operationId: segments
      summary: Segments - All segments
      description: |
        A list of all the segments in the system including inactive segments.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page_size'
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page'
      responses:
        '200':
          description: |
            The segments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/all'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all/action:
    post:
      operationId: segmentAction
      summary: Segment - Bulk Action
      description: |
        Request a bulk action to be performed on all the records in a segment.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              - add_tag
              - change-status
              - debug
              - draft-templated-email
              - join-group
              - raise-authorised-xero-invoice
              - raise-draft-xero-invoice
              - raise-submitted-xero-invoice
              - remove_tag
              - send-email-to-fixed-address
              - send-json-webhook
              - send-templated-email
              - send-templated-email-request-acknowledgement
              - send-templated-in-app-message
              - send-templated-in-app-message-request-acknowledgement
              - send-templated-sms
              - send-webhook
              - set-single-field
              - set-single-field-on-last-membership
        - name: value
          in: query
          required: true
          description: |
            The value to be used in the action.
            This is dependent on the action.
          schema:
            type: string
        - name: description
          in: query
          required: true
          description: |
            A description of the action to be performed.
            This is used in the audit trail.
          schema:
            type: string
        - name: field
          in: query
          required: false
          description: |
            The field to be used in the action.
            This is dependent on the action and required by some actions.
          schema:
            type: string
      responses:
        '200':
          description: |
            Successful operation
            The URI of the `action` record and the URI of the `sheep_event`
            that will track the progress of this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/action'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/config:
    get:
      operationId: segmentConfig
      summary: Segment - Config
      description: |
        The config for a segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: |
            The segment configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/count:
    get:
      operationId: segmentCount
      summary: Segment - Count
      description: |
        The count and description of the segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: |
            The count and description of the segment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/count'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/lookup:
    get:
      operationId: segmentLookup
      summary: Segment - Lookup
      description: |
        Lookup a record within a segment using a simple single search term
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: q
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: |
            A list of segments matching the search terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookup'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all:
    get:
      operationId: segmentAll
      summary: Segment - All records
      description: |
        Segments are groups of records that can be used for browsing or bulk actions. This endpoint returns a list of all the records in the segment.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: q
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/q'
        - name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page_size'
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page'
        - name: verbose
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/verbose'
      responses:
        '200':
          description: a list of records with contents depending on segment type
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all/pdf:
    get:
      operationId: segmentAllPDF
      summary: Segment - PDF export
      description: |
        Export a PDF report based on the data from the segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: template
          in: query
          required: true
          schema:
            type: string
        - name: policy
          in: query
          required: false
          schema:
            type: string
        - name: gdpr_bypass
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: gdpr_bypass_reason
          in: query
          required: false
          schema:
            type: string
        - name: debug
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            A 'receipt' for the PDF report request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestReport'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all/xlsx:
    get:
      operationId: segmentAllXSLX
      summary: Segment - XLSX export
      description: |
        Export a XLSX report based on the data from the segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: template
          in: query
          required: false
          schema:
            type: string
        - name: policy
          in: query
          required: false
          schema:
            type: string
        - name: gdpr_bypass
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: gdpr_bypass_reason
          in: query
          required: false
          schema:
            type: string
        - name: debug
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            A 'receipt' for the XLSX report request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestReport'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all/sync_mailchimp:
    get:
      operationId: segmentAllSyncMailchimp
      summary: Segment - Sync Mailchimp
      description: |
        Sync the segment with Mailchimp
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: segment_name
          in: query
          required: false
          schema:
            type: string
            default: The name of the segment
        - name: mailchimp_batch_size
          in: query
          required: false
          schema:
            type: integer
            default: 500
        - name: verbose
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            A 'receipt' for the sync request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestSync'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /selfservice-pdf/v2/{bucket}/form_response:
    get:
      summary: App - Request empty form responses
      description: |
        This endpoint returns a list of empty form responses for the given form.
      tags:
        - App
        - Forms
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: form_ref
          in: query
          required: true
          schema:
            type: string
            $ref: '#/components/schemas/uri'
        - name: quantity
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /selfservice-pdf/v2/{bucket}/{resource_type}/{uid}/invoice/{signature}/pdf:
    get:
      summary: App - Invoice PDF
      description: |
        A printable PDF of an invoice. The template parameter is optional and defaults to sheep-invoice-a4.
        The standard template uses the logo, address and other settings provided for the client.
        Contact the support team if you would like a custom template.
      tags:
        - App
        - PDF
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: signature
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/signature'
        - name: template
          in: query
          required: false
          schema:
            type: string
            default: sheep-invoice-a4
      responses:
        '200':
          description: Binary PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
  /selfservice-pdf/v2/{bucket}/giving/taxyear/{startyear}/{endyear}/pdf:
    get:
      summary: App - Giving PDF
      description: A printable PDF of a giving statement for a tax year
      tags:
        - App
        - PDF
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: start_year
          in: path
          required: true
          schema:
            type: number
            example: 2022
        - name: end_year
          in: path
          required: true
          schema:
            type: number
            example: 2023
      responses:
        '200':
          description: Binary PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
  /selfservice-pdf/v2/{bucket}/member/{uid}/card:
    get:
      summary: App - Membership card PDF
      description: A printable PDF Member card
      tags:
        - App
        - PDF
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Binary PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
  /public/v2/{bucket}/web:
    get:
      summary: App - Public Pages
      description: |
        All pages (and index pages) are accessed through a single endpoint.
        The `path` is a required parameter and the response will be a page config block
        and zero or more resources. (A page will have just one resources, an index
        page may have many.) User credentials are optional but may be required
        if the page is not public or is only for members.
      tags:
        - App
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: path
          in: query
          description: |
            The URL path (after the domain name).
            All paths should end with a trailing slash.
          schema:
            type: string
            example: archive-introduction/
        - name: user_query
          in: query
          description: |
            A dictionary of query terms which are merged with the base query for the index page (if present).
          schema:
            $ref: '#/components/schemas/page_user_query'
      responses:
        '200':
          description: Successful operation - a page response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses-page'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
components:
  schemas:
    bucket:
      type: string
      example: example
      description: The bucket (client) name
    resource_type:
      type: string
      example: person
      description: The type of resource, usually the second element in the URI e.g person, organisation, member, payment
    uid:
      type: string
      example: 6305f074683e800f3abe809e
      description: |
        Usually the final element in the URI, an alphanumeric unique identifier
    uri:
      type: string
      example: /example/person/6305f074683e800f3abe809e/
      description: |
        URIs are unique identifiers for resources in the system,
        they are structured as follows `/bucket/resource_type/uid/`
    PersonMembershipAll:
      type: object
      properties:
        contact_uri:
          type: string
        count:
          type: number
          description: The number of memberships for this contact
        memberships:
          type: array
          description: A list of member records for this contact
          items:
            type: object
            properties:
              admin_contact:
                type: string
                description: The URI of the contact that is the admin for this membership. Admin contacts can manage the membership and are the primary contact for membership communication.
              advise_lapse:
                type: boolean
              amount:
                type: number
              auto_renew:
                type: boolean
              billing_contact:
                type: string
                description: The URI of the billing contact for this membership.
              cancellation_date:
                type: string
              created:
                type: string
              currency:
                type: string
              display_value:
                type: string
              end_date:
                type: string
              externally_managed:
                type: boolean
              gc_subscription_id: {}
              gift_aid:
                type: boolean
              has_renewed:
                type: boolean
              lapse_reason:
                type: string
              last_updated:
                type: string
              linked_members:
                type: array
                items:
                  type: string
              max_linked_members:
                type: number
              member:
                type: string
                description: The URI of the contact that is the primary member
              membership_number:
                type: string
              membership_plan_type:
                type: string
              membership_record_status:
                type: string
              membership_type:
                type: string
                description: The URI of the membership plan for this membership
              mute_communications:
                type: boolean
              next_membership_type:
                type: string
                description: The URI of the membership plan that this member should renew onto.
              next_payment_plan:
                type: string
                description: The URI of the payment plan that this member should use for payment when they renew.
              paid:
                type: boolean
              payment_date: {}
              payment_method:
                type: string
              payment_plan:
                type: string
              payment_reference: {}
              period:
                type: string
              record_state:
                type: string
              start_date:
                type: string
              stripe_subscription_id: {}
              tags:
                type: array
                items:
                  type: string
              tax:
                type: string
              uid:
                type: string
              uri:
                type: string
                description: a membership uri will always be in the format `/bucket/member/uid/` with the word 'member' in the middle
              user_interface:
                type: object
                properties:
                  can_create_member:
                    type: boolean
                  can_delete_member:
                    type: boolean
                  can_edit_member:
                    type: boolean
                  can_restore_member:
                    type: boolean
                  policy_name:
                    type: string
              xero_account_code: {}
    datetime:
      type: string
      example: '2023-09-05T11:27:06.437000'
      description: A date in the format YYYY-MM-DDTHH:MM:SS.mmmmmm
    diff:
      type: object
      properties:
        field:
          type: string
        prev:
          type: string
          description: The previous value
        value:
          type: string
          description: The new value
        verb:
          type: string
          description: The type of change
          enum:
            - change
            - add
            - drop
    diffs:
      type: object
      properties:
        date:
          $ref: '#/components/schemas/datetime'
        message:
          type: string
          description: human readable diff
        uri:
          $ref: '#/components/schemas/uri'
        user:
          $ref: '#/components/schemas/uri'
        revertable:
          type: boolean
        resource:
          $ref: '#/components/schemas/resource_type'
        clean_diff:
          type: array
          items:
            $ref: '#/components/schemas/diff'
    diff_list:
      description: List of changes to the record
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/diffs'
        count:
          type: integer
          description: The number of changes
        uri:
          $ref: '#/components/schemas/uri'
        related_uris:
          type: array
          items:
            $ref: '#/components/schemas/uri'
    date:
      type: string
      example: '2020-01-01'
      description: A date in the format YYYY-MM-DD
    time:
      type: string
      example: '11:27'
      description: A date in the format HH:MM
    url:
      type: string
      example: https://s3-eu-west-1.amazonaws.com/sheepcrm/example/vehicle/63ceaeacd403a64149a3de0c/photo/mycar.jpg
      description: |
        A fully qualified URL including the protocol e.g. https
    EventSingle:
      properties:
        booking_type:
          type: string
        cancelled:
          type: boolean
        capacity:
          type: number
        category:
          type: string
        catering:
          type: boolean
        controller:
          type: string
        date_range:
          type: string
        description:
          type: string
        display_value:
          type: string
        end_date:
          $ref: '#/components/schemas/date'
        end_datetime:
          $ref: '#/components/schemas/datetime'
        end_time:
          $ref: '#/components/schemas/time'
        eventbrite_id:
          type: string
        eventbrite_last_sync:
          $ref: '#/components/schemas/datetime'
        external_boxoffice_link:
          $ref: '#/components/schemas/url'
        external_image:
          $ref: '#/components/schemas/url'
        external_web_link:
          $ref: '#/components/schemas/url'
        formatted_title:
          type: string
        group:
          type: array
          items:
            type: object
            properties:
              display_value:
                type: string
              ref:
                $ref: '#/components/schemas/uri'
        is_sold_out:
          type: boolean
        location:
          type: string
        location_address_string:
          type: string
        location_country:
          type: string
        location_postal_code:
          type: string
        photo:
          $ref: '#/components/schemas/url'
        record_state:
          type: string
        series_id:
          type: string
        start_date:
          $ref: '#/components/schemas/date'
        start_datetime:
          $ref: '#/components/schemas/datetime'
        start_time:
          $ref: '#/components/schemas/time'
        status:
          type: string
        subcategory:
          type: string
        tags:
          type: array
          items:
            type: string
        ticketed_event:
          type: boolean
        title:
          type: string
        uid:
          $ref: '#/components/schemas/uid'
        uri:
          $ref: '#/components/schemas/uri'
        user_interface:
          type: object
          properties:
            can_create_booking:
              type: boolean
            can_delete_booking:
              type: boolean
            can_edit_booking:
              type: boolean
            can_restore_booking:
              type: boolean
            policy_name:
              type: string
        waitlist_available:
          type: boolean
        website:
          $ref: '#/components/schemas/url'
    EventsList:
      properties:
        bookings:
          type: array
          items:
            $ref: '#/components/schemas/EventSingle'
    email:
      type: string
      example: bob@example.com
    EventAttendanceList:
      properties:
        booking:
          $ref: '#/components/schemas/EventSingle'
        booking_uri:
          $ref: '#/components/schemas/uri'
        sessions:
          type: array
          items:
            type: object
            properties:
              attendee_email:
                $ref: '#/components/schemas/email'
              attendee_name:
                type: string
              created:
                $ref: '#/components/schemas/datetime'
              display_value:
                type: string
              guest:
                type: boolean
              guest_ref:
                $ref: '#/components/schemas/uri'
              last_updated:
                $ref: '#/components/schemas/datetime'
              person_ref:
                $ref: '#/components/schemas/uri'
              record_state:
                type: string
              status:
                type: string
              ticket:
                type: string
              ticket_ref:
                $ref: '#/components/schemas/uri'
              uid:
                $ref: '#/components/schemas/uid'
              uri:
                $ref: '#/components/schemas/uri'
    display_value:
      type: string
      description: The human readable value of the record the URI points to
    expanded_uri:
      type: object
      properties:
        display_value:
          $ref: '#/components/schemas/display_value'
        ref:
          $ref: '#/components/schemas/uri'
    legacy_uid:
      type: string
      example: 1234567890
      description: |
        A third part or external unique identifier, sometimes from a legacy system.
        Can also be a psuedo-random string to enforce uniqueness.
    UpdatedEventAttendance:
      properties:
        attendance:
          type: array
          items:
            type: object
            properties:
              attendance:
                type: object
                properties:
                  attendee_email:
                    $ref: '#/components/schemas/email'
                  attendee_name:
                    type: string
                  booking_ref:
                    $ref: '#/components/schemas/expanded_uri'
                  guest:
                    type: boolean
                  legacy_uid:
                    $ref: '#/components/schemas/legacy_uid'
                  person_ref:
                    $ref: '#/components/schemas/expanded_uri'
                  status:
                    type: string
                  ticket_ref:
                    $ref: '#/components/schemas/uri'
              uri:
                type: string
        booking_ref:
          $ref: '#/components/schemas/uri'
        person_ref:
          $ref: '#/components/schemas/uri'
        status:
          type: string
    number_as_string:
      type: string
      example: '123.45'
      description: A decimal number stored as a string
    currency:
      type: string
      example: gbp
      description: A three letter currency code (lower case)
      enum:
        - gbp
        - usd
        - eur
        - aed
        - aud
        - bbd
        - bgn
        - bhd
        - bsd
        - bwp
        - cad
        - chf
        - cny
        - czk
        - dkk
        - fjd
        - ghs
        - hkd
        - hrk
        - huf
        - idr
        - ils
        - inr
        - jmd
        - jod
        - jpy
        - kes
        - kwd
        - kyd
        - lkr
        - lsl
        - mad
        - mur
        - mwk
        - mxn
        - myr
        - nad
        - ngn
        - nok
        - nzd
        - omr
        - php
        - pkr
        - pln
        - qar
        - ron
        - rsd
        - rub
        - sek
        - sgd
        - thb
        - tnd
        - try
        - ttd
        - twd
        - ugx
        - zar
    sort_order:
      type: number
      example: 1
      description: A number that can be used to sort a list of items, low is first, high is last
    EventAvailableTickets:
      properties:
        available_tickets:
          type: array
          items:
            type: object
            properties:
              access_code:
                type: string
              allocated:
                type: number
              amount:
                $ref: '#/components/schemas/number_as_string'
              available:
                type: number
              available_from_date:
                type: object
                properties: {}
              currency:
                $ref: '#/components/schemas/currency'
              description:
                type: string
              member_only:
                type: boolean
              name:
                type: string
              number_of_attendees_per_ticket:
                $ref: '#/components/schemas/number_as_string'
              pricing:
                type: string
                deprecated: true
              reserved:
                type: number
              single_use:
                type: boolean
              sort_order:
                $ref: '#/components/schemas/sort_order'
              tags:
                type: array
                items:
                  type: string
              tax:
                type: string
              total:
                type: number
              uri:
                $ref: '#/components/schemas/uri'
              xero_account_code:
                type: string
    OrderTotal:
      properties:
        fully_paid:
          type: boolean
        outstanding:
          type: number
          description: The amount remaining to be paid on the order
        paid:
          type: number
          description: The amount already paid on the order
        processing_fees:
          type: number
          description: The total amount of the processing fees
        total:
          type: number
          description: The total amount of the order
    Order:
      properties:
        attendee_count:
          type: number
        buyer:
          $ref: '#/components/schemas/uri'
        buyer_index_name:
          type: string
        currencies:
          type: array
          items:
            $ref: '#/components/schemas/currency'
        order_date:
          $ref: '#/components/schemas/datetime'
        order_total:
          type: object
          description: 'NOTE: The currencies of each payment form the keys within the order_total'
          properties:
            gbp:
              $ref: '#/components/schemas/OrderTotal'
              type: object
            eur:
              $ref: '#/components/schemas/OrderTotal'
              type: object
            usd:
              $ref: '#/components/schemas/OrderTotal'
              type: object
        tickets:
          type: number
        tickets_as_string:
          type: string
    OrdersList:
      properties:
        booking:
          $ref: '#/components/schemas/EventSingle'
        booking_uri:
          $ref: '#/components/schemas/uri'
        buyers:
          type: object
          properties:
            /example/person/12dd1259/:
              $ref: '#/components/schemas/Order'
        number_of_orders:
          type: number
        number_of_unpaid_orders:
          type: number
    TicketExpanded:
      properties:
        activity:
          type: string
        amount:
          type: number
        booking:
          $ref: '#/components/schemas/uri'
        booking_display:
          type: string
        buyer:
          $ref: '#/components/schemas/uri'
        buyer_display:
          type: string
        created:
          $ref: '#/components/schemas/datetime'
        currency:
          $ref: '#/components/schemas/currency'
        date:
          $ref: '#/components/schemas/datetime'
        display_value:
          type: string
        formatted_title:
          type: string
        last_updated:
          $ref: '#/components/schemas/datetime'
        legacy_uid:
          type: string
        number_of_attendees:
          type: number
        purchase_date:
          $ref: '#/components/schemas/datetime'
        quantity:
          type: number
        record_state:
          type: string
        reference: {}
        tax_rate:
          type: number
        ticket_id:
          type: string
        ticket_type:
          $ref: '#/components/schemas/uri'
        ticket_type_display:
          type: string
        uid:
          $ref: '#/components/schemas/uid'
        uri:
          $ref: '#/components/schemas/uri'
        venue:
          type: string
        xero_account_code:
          type: string
    TicketsList:
      properties:
        booking:
          $ref: '#/components/schemas/EventSingle'
        booking_uri:
          $ref: '#/components/schemas/uri'
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/TicketExpanded'
    OrderDeleted:
      properties:
        booking_uri:
          $ref: '#/components/schemas/uri'
        contact_uri:
          $ref: '#/components/schemas/uri'
        deleted:
          type: array
          description: The list of deleted tickets
          items:
            $ref: '#/components/schemas/uri'
        errors:
          type: array
          description: The list of errors
          items:
            type: string
        returned_stock:
          type: array
          description: The list of returned stock uris
          items:
            $ref: '#/components/schemas/uri'
    FormQuestion:
      properties:
        answer:
          type: string
        choices_url:
          $ref: '#/components/schemas/url'
        core_field:
          type: boolean
        core_field_update_policy:
          type: string
          enum:
            - overwrite
            - underwrite
        disabled:
          type: boolean
        field:
          type: string
          enum:
            - boolean
            - boolean-simple
            - boolean-switch
            - choice
            - choice-from-url
            - choice-from-sheep-segment
            - date
            - divider
            - email
            - extra-large-text
            - file
            - helper-text
            - image
            - profile_photo
            - large-text
            - multi-choice
            - multi-choice-checkbox
            - multi-choice-checkbox-from-sheep-segment
            - multi-choice-from-sheep-segment
            - multi-choice-from-url
            - multi-file
            - number
            - telephone
            - text
            - text-list
            - time
        formType:
          type: string
        form_type:
          type: string
        fully_qualified_field:
          type: string
        helper_text:
          type: string
        label:
          type: string
        marks_available:
          type: number
        max_word_limit:
          type: number
        min_word_limit:
          type: number
        options:
          type: array
          items:
            type: string
        original_field:
          type: string
        question_uri:
          $ref: '#/components/schemas/uri'
        required:
          type: boolean
        visibility:
          type: string
          enum:
            - applicant
            - internal_only
            - feedback
    FormSection:
      properties:
        feedback_on:
          type: boolean
        internal_comments_on:
          type: boolean
        intro:
          type: string
        marks:
          type: number
        questions:
          type: array
          description: The questions in the form section
          items:
            $ref: '#/components/schemas/FormQuestion'
        ref:
          type: string
        scoring:
          type: boolean
        section_uri:
          $ref: '#/components/schemas/uri'
        subtitle:
          type: string
        title:
          type: string
    SimpleQuestion:
      properties:
        answer:
          type: string
        form_type:
          type: string
        marks_available:
          type: number
        question:
          type: string
        required:
          type: boolean
        uri:
          $ref: '#/components/schemas/uri'
    FormResponse:
      properties:
        flat:
          type: object
          description: The flat representation of the form response
        sections:
          type: array
          description: The sections of the form response
          items:
            $ref: '#/components/schemas/FormSection'
        simple:
          type: array
          description: The simple representation of the form response
          items:
            $ref: '#/components/schemas/SimpleQuestion'
    OrderFormResponse:
      properties:
        contact_display_value:
          type: string
        contact_uri:
          $ref: '#/components/schemas/uri'
        response:
          type: object
          $ref: '#/components/schemas/FormResponse'
        role:
          type: string
          enum:
            - attendee
            - buyer
        uri:
          $ref: '#/components/schemas/uri'
    OrderQuestions:
      properties:
        booking_uri:
          $ref: '#/components/schemas/uri'
        buyer_uri:
          $ref: '#/components/schemas/uri'
        responses:
          type: array
          description: The list of questions and answers
          items:
            $ref: '#/components/schemas/OrderFormResponse'
    PartnerSync:
      properties:
        action:
          type: string
        data_type:
          type: string
        function_name:
          type: string
        params:
          type: object
          description: |
            The parameters to pass to the lambda function which will execute your request
          properties:
            bucket:
              type: string
            lambda_prefix:
              type: string
            safe_mode:
              type: boolean
            since_hours:
              type: integer
              description: The number of hours to look back for changes
        partner:
          type: string
        status:
          type: string
          description: OK if the request was successful
    invoice_type:
      type: string
      example: order
      enum:
        - order
        - invoice
        - membership
      description: The type of invoice
    address:
      type: array
      description: a list of address lines
      example:
        - 1 High Street
        - Oxford
        - Oxfordshire
        - OX1 1AA
      items:
        type: string
    locality:
      type: string
      example: Oxford
      description: A locality, usually a town or city
    postal_code:
      type: string
      example: SW1A 1AA
      description: A postal code or ZIP code
    region:
      type: string
      example: Oxfordshire
      description: A region, usually a county or state
    telephone:
      type: string
      example: 01234 567890
      description: A telephone number, country code prefix is optional
    buyer:
      type: object
      properties:
        buyer_address:
          $ref: '#/components/schemas/address'
        buyer_country:
          type: string
        buyer_email:
[...]
