openapi: 3.0.0
info:
  title: sheepCRM API
  version: 1.0.0
servers:
  - url: https://sls-api.sheepcrm.com

# securitySchemes:
#   bearerAuth:
#     type: http
#     scheme: bearer
#     bearerFormat: sheep API token

# security:
#   - bearerAuth: []         # use the same name as above

paths:

  /api/v2/find/person/{bucket}:
    $ref: 'requests/Person.yaml#/PersonFind'

  /api/v2{contact_uri}summary:
    $ref: 'requests/Contacts.yaml#/ContactSummary'

  /api/v2{person_uri}communications/detail:
    $ref: 'requests/Person.yaml#/PersonCommunicationsDetail'

  /api/v2{person_uri}personal/detail:
    $ref: 'requests/Person.yaml#/PersonPersonalDetail'

  /api/v2{person_uri}membership/all:
    $ref: 'requests/Person.yaml#/PersonMembershipAll'

  /api/v2{bucket}/member/{uid}/:
    $ref: 'requests/Member.yaml#/MembershipSingle'

  /api/v2{bucket}/member/{uid}/detail:
    $ref: 'requests/Member.yaml#/MembershipDetail'

  #
  # Events
  #
  /events/v2/{bucket}:
    $ref: 'requests/Events.yaml#/Events'

  /events/v2/{bucket}/bookings/{state}:
    $ref: 'requests/Events.yaml#/EventsByState'

  /events/v2/{bucket}/booking/{uid}:
    $ref: 'requests/Events.yaml#/EventSingle'

  /events/v2/{bucket}/booking/{uid}/summary:
    $ref: 'requests/Events.yaml#/EventSingleSummary'

  /events/v2/{bucket}/booking/{uid}/attendance/all:
    $ref: 'requests/Events.yaml#/EventAttendanceAll'

  /events/v2/{bucket}/booking/{uid}/available_tickets:
    $ref: 'requests/Events.yaml#/EventAvailableTickets'

  /events/v2/{bucket}/booking/{uid}/orders:
    $ref: 'requests/Events.yaml#/EventOrders'

  # /v2/{bucket}/booking/{uid}/orders
  # /v2/{bucket}/booking/{uid}/orders/export
  # /v2/{bucket}/booking/{uid}/tickets/all

  #
  # Search
  #

  /search/v2/{bucket}:
    $ref: 'requests/Search.yaml#/Search'

  /search/v2/{bucket}/help:
    $ref: 'requests/Search.yaml#/SearchHelp'

  /search/v2/{bucket}/car:
    $ref: 'requests/Search.yaml#/SearchVehicles'

  /search/v2/{bucket}/person:
    $ref: 'requests/Search.yaml#/SearchPerson'

  #
  # Notifications
  #

  /notifications/v2/{bucket}:
    $ref: 'requests/Notifications.yaml#/Notifications'

  /notifications/v2/{bucket}/{resource_type}/{uid}:
    $ref: 'requests/Notifications.yaml#/NotificationsSingle'

  /notifications/v2/{bucket}/{resource_type}/{uid}/complete:
    $ref: 'requests/Notifications.yaml#/NotificationsComplete'

  /notifications/v2/{bucket}/{resource_type}/{uid}/snooze:
    $ref: 'requests/Notifications.yaml#/NotificationsSnooze'

  #
  # Self Service / App API - PDFs
  #

  /selfservice-pdf/v2/{bucket}/{resource_type}/{uid}/invoice/{signature}/pdf:
    $ref: 'requests/SelfservicePDF.yaml#/InvoicePDF'

  /selfservice-pdf/v2/{bucket}/giving/taxyear/{startyear}/{endyear}/pdf:
    $ref: 'requests/SelfservicePDF.yaml#/GivingTaxYearPDF'

  /selfservice-pdf/v2/{bucket}/member/{uid}/card:
    $ref: 'requests/SelfservicePDF.yaml#/MemberCardPDF'

  #
  # Self Service / App API - Public / Web
  #

  /public/v2/{bucket}/web:
    $ref: 'requests/SelfservicePublic.yaml#/Web'