openapi: 3.0.0
info:
  title: sheepCRM API
  version: 1.0.0
  description: |
    The sheepCRM API is a RESTful API that allows you to access and manipulate data in
    your sheepCRM database. Sheep was built with an API-first approach, so all of the
    functionality you see in the web interface is available via the API.

    The API is designed to be used by developers to build custom integrations and
    applications. It is not designed to be used by end users, although some of the
    endpoints are available to end users via the self-service app.

    Please report any inaccuracies or omissions to support@sheepcrm.com on the
    understanding that this documentation is a work in progress and will be updated
    regularly.
servers:
  - url: https://sls-api.sheepcrm.com
paths:
  /api/v2/{bucket}/{resource_type}/{uid}/avatar:
    get:
      operationId: getAvatar
      summary: Avatar
      description: |
        The avatar for the person or organisation
        If an image has been provided it will be returned as a redirect
        If no image has been provided a placeholder image will be generated
        based on the initials of the name.
      tags:
        - Contact
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: PNG Image
        '302':
          description: Redirect to the image
          headers:
            location:
              description: Location of the remote image
              schema:
                type: string
        '404':
          description: Not found
  /api/v2/{bucket}/{resource_type}/{uid}/display:
    get:
      operationId: getDisplay
      summary: Display
      description: |
        The display name for the record e.g. the persons name or the organisation name
      tags:
        - Contact
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: The display name for the record
          content:
            application/json:
              schema:
                properties:
                  display_value:
                    type: string
                    example: Caroline Smith
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2/find/person/{bucket}:
    get:
      summary: Find Person (specific)
      description: |
        check for a specific person contact from within sheepCRM, for general searching use the search endpoint.
        this call has been deprecated in favour of an identical call to the search endpoint /search/v2/{bucket}/person
      deprecated: true
      operationId: checkForPerson
      tags:
        - Search
        - People
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            type: string
        - name: title
          in: query
          required: false
          schema:
            type: string
        - name: first_name
          in: query
          required: false
          schema:
            type: string
        - name: last_name
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: date_of_birth
          in: query
          required: false
          schema:
            type: string
        - name: postal_code
          in: query
          required: false
          schema:
            type: string
        - name: take_first_if_multiple
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{contact_uri}summary:
    get:
      summary: Contact - summary
      description: get a summary of a contact (person or organisation) from their uri
      operationId: getContactSummary
      tags:
        - Contact
      parameters:
        - name: contact_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{person_uri}communications/detail:
    get:
      summary: Person - communications detail
      description: get the communication details for a person e.g. email, phone, address
      operationId: getPersonCommunications
      tags:
        - Contact
        - People
      parameters:
        - name: person_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{person_uri}personal/detail:
    get:
      summary: Person - personal detail
      description: get the personal details for a person
      operationId: getPersonPersonal
      tags:
        - Contact
        - People
      parameters:
        - name: person_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{person_uri}membership/all:
    get:
      summary: Person - membership list
      description: Get the full membership history for a person, current and historic, use the /summary endpoint for a faster summary
      operationId: getPersonMembership
      tags:
        - Contact
        - Membership
        - People
      parameters:
        - name: person_uri
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uri'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonMembershipAll'
  /api/v2{bucket}/member/{uid}/:
    get:
      summary: Membership - single
      description: Get a summary of a single membership record (a member record), use the /detail endpoint to get the full details
      operationId: getMemberSummary
      tags:
        - Membership
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2{bucket}/member/{uid}/detail:
    get:
      summary: Membership - single detail
      description: Get a summary of the membership details for a person, use the /all endpoint to get the full details
      operationId: getMemberDetail
      tags:
        - Membership
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2/{bucket}/audit:
    get:
      operationId: audit
      summary: Audit
      description: |
        Pull audit log messages across the whole client for a time period
        Available as standard JSON packet or a list for easier reading
        Note the call is time limited to 20 seconds, so if you have a lot of audit messages
        you may need to reduce the limit and break into multiple calls
      tags:
        - Audit
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: skip
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: from
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/datetime'
            default: yesterday
        - name: to
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/datetime'
            default: now
        - name: resource
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: format
          in: query
          required: false
          schema:
            enum:
              - json
              - list
            default: json
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /api/v2/{bucket}/{resource_type}/{uid}/audit:
    get:
      operationId: auditSingle
      summary: Audit - Single Record
      description: |
        Pull audit log messages from a single record
      tags:
        - Audit
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: since_days
          in: query
          required: false
          schema:
            type: integer
            default: 180
      responses:
        '200':
          description: A list of change records for the URI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diff_list'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /api/v2/{bucket}/{resource_type}/{uid}/provenance:
    get:
      summary: Audit - provenance
      operationId: auditProvenance
      description: |
        Pull the provenance for a specific record
      tags:
        - Audit
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /events/v2/{bucket}:
    get:
      operationId: getEvents
      summary: Events - List
      description: |
        All the events for a client within the past 14 days and next 90
        Aliased as /events/v2/{bucket}/bookings
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A list of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/bookings/{state}:
    get:
      operationId: getEventsByState
      summary: Events - List by state
      description: All events by their status, note this is a summary packet, call individual events for full details
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: state
          in: path
          required: true
          description: the state or classification
          schema:
            type: string
            enum:
              - all
              - current
              - draft
              - future
              - past
              - running
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 250
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A list of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}:
    get:
      operationId: getEvent
      summary: Events - Single
      description: Full details for an event
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Single Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingle'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/rebase/tickets:
    put:
      operationId: rebaseEventTickets
      summary: Event - Rebase ticket dates
      description: |
        Rebase the ticket dates for an event.
        Use this after moving the date of an event to propogate the date change to all the tickets
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Single Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRebaseTickets'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/rebase/questions:
    put:
      operationId: rebaseEventQuestions
      summary: Event - Rebase questions
      description: |
        Rebase the questions to ensure that all buyers and attendees have a form response
        Use this when a live event with orders but no questions has questions added
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Single Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRebaseQuestions'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/summary:
    get:
      operationId: getEventSummary
      summary: Events - Single summary
      description: |
        Reduced fields for faster API call and for accounts without access to the full event details
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Single Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingle'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/attendance:
    get:
      operationId: getEventAttendance
      summary: Event - Attendance
      description: |
        All the attendees for an event
        Aliased as /events/v2/{bucket}/bookings/{uid}/attendance
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of attendees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendanceList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
    put:
      operationId: setEventAttendance
      summary: Event - Attendance
      description: |
        Set the attendance status for a single attendee
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: person_uri
          in: query
          description: The URI of the person
          required: true
          schema:
            $ref: '#/components/schemas/uri'
        - name: status
          in: query
          description: the attendance status
          required: true
          schema:
            type: string
            example: attended
            enum:
              - invited
              - accepted
              - declined
              - attended
              - no-show
      responses:
        '200':
          description: Updated Event Attendance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedEventAttendance'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/attendance/all:
    get:
      operationId: getEventAttendanceAll
      summary: Event - Attendance
      description: |
        All the attendees for an event
        Aliased as /events/v2/{bucket}/bookings/{uid}/attendance
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of attendees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAttendanceList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/attendance/export:
    get:
      operationId: getEventAttendanceExport
      summary: Event - Attendance Export
      description: |
        All the attendees for an event in spreadsheet format
      tags:
        - Events
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: fieldset
          in: query
          required: false
          description: The fieldsets (lists of fields) to be returned in the export
          schema:
            type: array
            items:
              type: string
              enum:
                - core
                - attendance
                - communications
                - emergency
                - membership
                - profile
                - mailing
              default: core
      responses:
        '200':
          description: Binary XLSX file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request, see the error field for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
  /events/v2/{bucket}/booking/{uid}/available_tickets:
    get:
      operationId: getEventAvailableTickets
      summary: Event - Available Ticket Types
      description: |
        Get all the ticket types available for a specific event
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of available tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAvailableTickets'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/orders:
    get:
      operationId: getEventOrders
      summary: Event - Orders
      description: |
        All the orders for an event for a booking
        Requires `booking.orders` permission
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/person/{uid}/orders:
    get:
      operationId: getEventOrdersForContact
      summary: Event - Orders for a contact
      description: |
        All the orders for an event for a specific contact
        Requires `contact.orders` permission
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersListForContact'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/booking/{uid}/orders/export:
    get:
      operationId: getEventOrdersExport
      summary: Event - Orders Export
      description: |
        All the orders for an event in spreadsheet format
      tags:
        - Events
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: fieldset
          in: query
          required: false
          description: The fieldsets (lists of fields) to be returned in the export
          schema:
            type: array
            items:
              type: string
              enum:
                - core
                - communications
                - emergency
                - membership
                - order
                - profile
                - mailing
              default: core
      responses:
        '200':
          description: Binary XLSX file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request, see the error field for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
  /events/v2/{bucket}/booking/{uid}/orders/export/meta:
    get:
      operationId: getEventOrdersExportMeta
      summary: Event - Meta data for the Orders Export
      description: |
        The meta data used to generate the export, useful for debugging a report
      tags:
        - Events
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: fieldset
          in: query
          required: false
          description: The fieldsets (lists of fields) to be returned in the export
          schema:
            type: array
            items:
              type: string
              enum:
                - core
                - communications
                - emergency
                - membership
                - profile
                - mailing
              default: core
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /events/v2/{bucket}/booking/{uid}/tickets/all:
    get:
      operationId: getEventTicketsAll
      summary: Event Tickets
      description: Get all the ticket for a specific event
      tags:
        - Events
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: List of tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketsList'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/{resource_type}/{uid}/order/{euid}:
    get:
      operationId: getEventOrder
      summary: Event Order - get
      description: |
        A specific order for an event
        Requires `event.order` permission
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: euid
          in: path
          required: true
          description: The event UID
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: A single order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
    delete:
      operationId: deleteEventOrder
      summary: Event Order - delete
      description: |
        Deleted a specific, single order for an event
        Requires `event.order` permission
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: euid
          in: path
          required: true
          description: The event UID
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: A single order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDeleted'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /events/v2/{bucket}/{resource_type}/{uid}/order/{euid}/questions:
    get:
      operationId: getEventOrderQuestions
      summary: Event Order - questions
      description: |
        The questions and answers submitted for this order
        Requires `event.order` permission
      tags:
        - Events
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          description: The resource UID, usually a person UID
          schema:
            $ref: '#/components/schemas/uid'
        - name: euid
          in: path
          required: true
          description: The event UID
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: A single order questions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderQuestions'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /internal/v2/{bucket}/membership_type/{uid}/extras:
    get:
      operationId: getMembershipTypeExtras
      summary: Membership Plan - Extra settings
      description: |
        Get the extra settings for a membership plan
      tags:
        - Membership
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/membership_type/{uid}/extras/additional_field:
    post:
      operationId: updateMembershipTypeExtras
      summary: Membership Plan - Extras - Add additional field
      description: |
        Add an additional user input field to a membership plan
      tags:
        - Membership
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: label
          in: query
          required: true
          schema:
            type: string
            description: The label for the field that will be shown to the user
        - name: field
          in: query
          required: false
          schema:
            type: string
            description: The field name, if not provided the label will be slugified
        - name: description
          in: query
          required: true
          schema:
            type: string
            description: A description of the field, shown to the user
        - name: form_type
          in: query
          required: true
          schema:
            type: string
            description: The type of field
            enum:
              - checkbox
              - date
              - email
              - multi-choice
              - number
              - person_record
              - select
              - tel
              - text
              - textarea
        - name: required
          in: query
          required: false
          schema:
            type: boolean
            description: Is this field required?
        - name: options
          in: query
          required: false
          schema:
            type: array
            description: |
              If the form_type is select, this is the list of options that will be shown to the user
            items:
              type: string
        - name: dob_required
          in: query
          required: false
          schema:
            type: boolean
            description: |
              If the form_type is person_record, is the date of birth required?
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
    delete:
      operationId: deleteMembershipTypeExtras
      summary: Membership Plan - Extras - Remove additional field
      description: |
        Remove an additional user input field from a membership plan
      tags:
        - Membership
        - Internal
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: field
          in: query
          required: true
          schema:
            type: string
            description: The field name to be removed
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/membership_type/{uid}/extras/condition:
    post:
      operationId: updateMembershipTypeExtrasCondition
      summary: Membership Plan - Extras - Add condition
      description: |
        Add a condition to a membership plan
        e.g. Age: Under 18
      tags:
        - Membership
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: key
          in: query
          required: true
          schema:
            type: string
            description: The key element of the condition
        - name: value
          in: query
          required: true
          schema:
            type: string
            description: The value element of the condition
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
    delete:
      operationId: deleteMembershipTypeExtrasCondition
      summary: Membership Plan - Extras - Remove condition
      description: |
        Remove a condition from a membership plan
      tags:
        - Membership
        - Internal
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: key
          in: query
          required: true
          schema:
            type: string
            description: The key element of the condition
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/sync/{partner}/{action}/{data_type}:
    post:
      operationId: partnerSync
      summary: Request Partner Sync
      description: |
        Request a sync with a partner
      tags:
        - Internal
        - Partners
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: partner
          in: path
          required: true
          description: The partner to sync with e.g. mailchimp, gocardless, stripe
          schema:
            type: string
            enum:
              - clio
              - eventbrite
              - gocardless
              - mailchimp
              - mryum
              - stripe
        - name: action
          in: path
          required: true
          description: The action to perform e.g. pull, push
          schema:
            type: string
            enum:
              - pull
              - push
        - name: data_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - contacts
              - consents
              - events
              - payments
          description: The data type to sync e.g. contacts, payments
        - name: since_hours
          in: query
          required: false
          schema:
            type: integer
            description: |
              The number of hours to look back for changes
              e.g. 24 would look back 24 hours for changes
            default: 24
        - name: create_contacts
          in: query
          required: false
          schema:
            type: boolean
            description: |
              If the data_type is contacts, should new contacts be created?
        - name: full
          in: query
          required: false
          schema:
            type: boolean
            description: |
              Where supported a full sync will override the since_hours parameter
      responses:
        '200':
          description: |
            Details of the request.
            The output from the requested sync will appear in the usage reports with a summary of the results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerSync'
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/system/build/warehouse/{facet}:
    post:
      operationId: warehouseBuild
      summary: Request a warehouse build
      description: |
        Request a warehouse build
      tags:
        - Internal
        - Partners
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: facet
          in: path
          required: true
          description: The facet to build e.g. contact, membership
          schema:
            type: string
            enum:
              - attendance
              - contact
              - contact_large
              - fundraising
              - membership
        - name: force
          in: query
          required: false
          schema:
            type: boolean
            description: |
              If force is false the build will only run if the there are relevant changes since the last build.
            default: false
        - name: safe_mode
          in: query
          required: false
          schema:
            type: boolean
            description: |
              If safe_mode is true, the build will be executed in a read only way.
            default: false
      responses:
        '200':
          description: |
            Details of the request.
            The output from the requested sync will appear in the usage reports with a summary of the results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseBuild'
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/user_policy/standard:
    post:
      operationId: CreateUserPolicy
      summary: Create new composite user policy
      description: |
        Create a composite user policy from a set of standard policies
        For example create a team leader policy `user_type=team-leader`
        and assign a set of policies to it `policies=base,group,team-leader`
      tags:
        - Internal
        - User Policy
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: policies
          in: query
          required: true
          schema:
            type: string
            enum:
              - achievement
              - base
              - base-ro
              - events
              - events-management
              - evidence
              - evidence-read-only
              - form-admin
              - form-response
              - gdpr
              - group
              - group-add-member
              - group-members
              - health-edi
              - membership
              - membership-ro
              - notifications
              - payment
              - person
              - person-ro
              - send-messages
              - session
              - team-leader
              - team-leader-with-applications
              - tasks-and-notes
              - vehicle
              - vehicle-ro
        - name: user_type
          in: query
          required: true
          description: The name of the new user policy
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: Optional name for the policy
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/user_policy/{uid}/groups:
    post:
      operationId: CreateGroupPolicy
      summary: Create group policies
      description: |
        Expand a user policy for all groups
      tags:
        - Internal
        - User Policy
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: tag_filter
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/user_policy/{uid}/leaders:
    post:
      operationId: AddPolicyToGroupLeaders
      summary: Add a policy to all group leaders
      description: |
        Add the given policy to all group user accounts.
        The output is logged in the usage reports; safe mode will output the planned changes without applying them
      tags:
        - Internal
        - User Policy
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: safe_mode
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/user_policy/{uid}/single:
    post:
      operationId: CreateSinglePolicy
      summary: Create a single policies
      description: |
        Create a single user group for a specific user policy
      tags:
        - Internal
        - User Policy
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: tag_filter
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /internal/v2/{bucket}/email_senders:
    get:
      summary: Get all email senders
      description: This API call is currently in alpha. May change without prior notice.
      operationId: getAllEmailSenders
      tags:
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
      responses:
        '200':
          description: A list of all email senders
          content:
            application/json:
              schema:
                type: object
                properties:
                  senders:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailSender'
                  uids:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                        email:
                          type: string
    post:
      summary: Create a new email sender
      description: This API call is currently in alpha. May change without prior notice.
      operationId: createEmailSender
      tags:
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
      requestBody:
        description: Email sender creation packet
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSender'
      responses:
        '201':
          description: Email sender successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSender'
        '400':
          description: Email sender already exists
  /internal/v2/{bucket}/email_sender/{uid}:
    get:
      summary: Get email sender by UID
      description: This API call is currently in alpha. May change without prior notice.
      operationId: getEmailSenderByUid
      tags:
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the email sender
      responses:
        '200':
          description: Details of the email sender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSender'
        '404':
          description: Email sender not found
    delete:
      summary: Delete email sender by UID
      description: This API call is currently in alpha. May change without prior notice.
      operationId: deleteEmailSender
      tags:
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the email sender
      responses:
        '204':
          description: Email sender successfully deleted
        '404':
          description: Email sender not found
    put:
      summary: Update email sender by UID
      description: This API call is currently in alpha. May change without prior notice.
      operationId: updateEmailSender
      tags:
        - Settings
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the email sender
      requestBody:
        description: Email sender update packet
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSender'
      responses:
        '200':
          description: Email sender successfully updated
        '404':
          description: Email sender not found
  /invoices/v2/{bucket}/{invoice_type}/{uid}:
    get:
      operationId: getInvoice
      summary: Invoice - Single
      description: |
        A single master invoice or statement record containing the details of the invoice,
        client config data and payment details
      tags:
        - Finance
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: invoice_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/invoice_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: Invoice record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /invoices/v2/{bucket}/{invoice_type}/{uid}/{signature}:
    get:
      operationId: getInvoiceWithSignature
      summary: Invoice - Single with signature
      description: |
        A single master invoice or statement record containing the details of the invoice,
        client config data and payment details
      tags:
        - Finance
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: invoice_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/invoice_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: signature
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/signature'
      responses:
        '200':
          description: Invoice record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          description: Bad request, see the error field for details
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /search/v2/{bucket}:
    get:
      summary: Search - 'Global'
      description: |
        search across the whole system `/search/v2/{bucket}/?q=John+Smith`
        The global url is an alias: /search/v2/{bucket}/global
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: q
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/q'
      responses:
        '200':
          description: A list of resource records matching the search terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultsResponse'
        '400':
          description: a standard error message
        '401':
          description: Authentication error
  /search/v2/{bucket}/help:
    get:
      summary: Search - Help
      description: |
        search within our help documentation
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: q
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/q'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
        - name: include_text
          in: query
          required: false
          description: |
            include the text of the help articles in the response as text
          schema:
            type: boolean
            default: false
        - name: include_html
          in: query
          required: false
          description: |
            include the text of the help articles in the response as html
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /search/v2/{bucket}/car:
    get:
      summary: Search - Vehicles
      description: |
        search for a specific vehicle by registration number, engine number or identifying number
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: registration_number
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/registration_number'
        - name: engine_number
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/engine_number'
        - name: identifying_number
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/identifying_number'
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /search/v2/{bucket}/person:
    get:
      summary: Search - People
      description: |
        search for a specific person (this is the same as the /api/v2/find/person/{bucket} endpoint)
      operationId: search
      tags:
        - Search
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            type: string
        - name: title
          in: query
          required: false
          schema:
            type: string
        - name: first_name
          in: query
          required: false
          schema:
            type: string
        - name: last_name
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: date_of_birth
          in: query
          required: false
          schema:
            type: string
        - name: postal_code
          in: query
          required: false
          schema:
            type: string
        - name: take_first_if_multiple
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /segments/v2/{bucket}:
    get:
      operationId: segmentsActive
      summary: Segments - All active segments
      description: |
        Segments are groups of records that can be used for browsing or bulk actions.
        A segment can be thought of as a stored query or view in traditional database terms.
        This endpoint returns a list of all the active segments in the system.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page_size'
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page'
      responses:
        '200':
          description: |
            The segments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/all'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/all:
    get:
      operationId: segments
      summary: Segments - All segments
      description: |
        A list of all the segments in the system including inactive segments.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page_size'
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page'
      responses:
        '200':
          description: |
            The segments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/all'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/create:
    post:
      operationId: segmentCreate
      summary: Segments - Create a new segment
      description: |
        Segments are groups of records that can be used for browsing or bulk actions.
        A segment can be thought of as a stored query or view in traditional database terms.
        This endpoint creates a new segment.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: description
          in: query
          required: false
          schema:
            type: string
        - name: segment_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - dynamic
              - static
              - hybrid
              - auxiliary
            default: dynamic
        - name: view_context
          in: query
          required: false
          schema:
            type: string
            enum:
              - comments
              - crm
              - documents
              - events
              - forms
              - giving
              - membership
              - minimal_membership_directory
              - reservations
              - teams
              - vehicles
        - name: parent_segment
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/uri'
        - name: active
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: rules
          in: query
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                field:
                  type: string
                operator:
                  type: string
                  enum:
                    - and_list
                    - equals
                    - exact
                    - greater_than
                    - greater_than_or_equals
                    - less_than
                    - less_than_or_equals
                    - near
                    - none_of
                    - not_equal_to
                    - or_list
                    - raw
                    - starts_with
                    - starts_with_case_insensitive
                value:
                  oneOf:
                    - type: string
                    - type: integer
                    - type: boolean
        - name: uris_include
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/uri'
        - name: uris_exclude
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/uri'
        - name: resource_type
          in: query
          required: true
          schema:
            type: string
            enum:
              - achievement
              - booking
              - comment
              - contact
              - duplicates
              - form_response
              - group
              - group_member
              - journal
              - membership
              - message
              - organisation
              - page_document
              - payment
              - person
              - reservation
              - sheep_event
              - vehicle
        - name: system_segment
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: tags
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
        - name: mailchimp_sync
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: |
            If this is a segment of contacts, syncing will create a matching segment in mailchimp
      responses:
        '201':
          description: |
            The segment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_segment'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/find:
    get:
      operationId: segmentsFind
      summary: Segments - Find a segment by name
      description: |
        A list of all the active segments in the system matching the search term.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page_size'
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page'
      responses:
        '200':
          description: |
            The segments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/all'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/config:
    get:
      operationId: segmentConfig
      summary: Segment - Config
      description: |
        The config for a segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: |
            The segment configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/count:
    get:
      operationId: segmentCount
      summary: Segment - Count
      description: |
        The count and description of the segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: resource_type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/resource_type'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: |
            The count and description of the segment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/count'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/lookup:
    get:
      operationId: segmentLookup
      summary: Segment - Lookup
      description: |
        Lookup a record within a segment using a simple single search term
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: q
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/uid'
      responses:
        '200':
          description: |
            A list of segments matching the search terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookup'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/action/delete:
    post:
      operationId: segmentActionDelete
      summary: Segment - Delete All Records
      description: |
        Creates a new resultset from the segment and deletes all records within it.
        This is an asynchronous operation that returns a notification URI to track progress.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: rules
          in: query
          required: false
          schema:
            type: object
            description: Additional rules to filter the segment before deletion
        - name: safe_mode
          in: query
          required: false
          schema:
            type: boolean
            description: Whether to run in safe mode (additional validation checks)
        - name: batch_size
          in: query
          required: false
          schema:
            type: integer
            default: 100
            maximum: 2500
            description: Number of records to process in each batch
        - name: verbose
          in: query
          required: false
          schema:
            type: boolean
            description: Whether to return detailed progress information
      responses:
        '200':
          description: |
            Successfully initiated bulk delete operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_uri:
                    $ref: '#/components/schemas/uri'
                    description: URI of the notification that will track delete progress
                  lambda_params:
                    type: object
                    properties:
                      uri:
                        $ref: '#/components/schemas/uri'
                      rules:
                        type: object
                      safe_mode:
                        type: boolean
                      batch_size:
                        type: integer
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error:
                  param: batch_size
                  message: Batch size must be less than 2500
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all:
    get:
      operationId: segmentAll
      summary: Segment - All records
      description: |
        Segments are groups of records that can be used for browsing or bulk actions. This endpoint returns a list of all the records in the segment.
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: q
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/q'
        - name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page_size'
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/page'
        - name: verbose
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/verbose'
      responses:
        '200':
          description: a list of records with contents depending on segment type
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all/pdf:
    get:
      operationId: segmentAllPDF
      summary: Segment - PDF export
      description: |
        Export a PDF report based on the data from the segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: template
          in: query
          required: true
          schema:
            type: string
        - name: policy
          in: query
          required: false
          schema:
            type: string
        - name: gdpr_bypass
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: gdpr_bypass_reason
          in: query
          required: false
          schema:
            type: string
        - name: debug
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            A 'receipt' for the PDF report request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestReport'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all/xlsx:
    get:
      operationId: segmentAllXSLX
      summary: Segment - XLSX export
      description: |
        Export a XLSX report based on the data from the segment
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: template
          in: query
          required: false
          schema:
            type: string
        - name: policy
          in: query
          required: false
          schema:
            type: string
        - name: gdpr_bypass
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: gdpr_bypass_reason
          in: query
          required: false
          schema:
            type: string
        - name: debug
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            A 'receipt' for the XLSX report request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestReport'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/segment/{uid}/all/sync_mailchimp:
    get:
      operationId: segmentAllSyncMailchimp
      summary: Segment - Sync Mailchimp
      description: |
        Sync the segment with Mailchimp
      tags:
        - Segments
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: uid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uid'
        - name: segment_name
          in: query
          required: false
          schema:
            type: string
            default: The name of the segment
        - name: mailchimp_batch_size
          in: query
          required: false
          schema:
            type: integer
            default: 500
        - name: verbose
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            A 'receipt' for the sync request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestSync'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication error
  /segments/v2/{bucket}/fieldset:
    get:
      operationId: segmentsFieldset
      summary: Fieldset - list of fields
      description: |
        A list of fields that can be used to create a segment, report or export
      tags:
        - Segments
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          description: The bucket to get the fieldset for
          schema:
            type: string
        - name: resource
          in: query
          description: The resource to get the applicable fieldset
          required: false
          schema:
            type: string
      responses:
        '200':
          description: |
            A list of fieldsets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fieldsetList'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      operationId: segmentsFieldsetCreate
      summary: Fieldset - create a fieldset
      description: |
        Create a fieldset that can be used to create a segment, report or export
      tags:
        - Segments
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          description: The bucket to create the fieldset for
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: the name of the fieldset
          schema:
            type: string
            default: Field list based on {resource_type}
        - name: description
          in: query
          required: false
          description: the description of the fieldset
          schema:
            type: string
            default: Field list based on {resource_type}
        - name: fields
          in: query
          required: false
          description: the fields of the fieldset
          schema:
            type: array
            items:
              type: string
            default:
              - field_name
        - name: resource
          in: query
          required: false
          description: used to generate the fieldset from all the fields on a resource
          schema:
            type: string
        - name: applicable_resources
          in: query
          required: false
          description: the applicable resources of the fieldset
          schema:
            type: array
            items:
              type: string
            default:
              - resource_type
      responses:
        '201':
          description: |
            A single fieldset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fieldsetSingle'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      operationId: segmentsFieldsetDelete
      summary: Fieldset - delete
      description: |
        Delete an existing fieldset
      tags:
        - Segments
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          description: The bucket to delete the fieldset for
          schema:
            type: string
        - name: uid
          in: path
          required: true
          description: The uid of the fieldset to delete
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: A standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized is the status code to return when the client provides no credentials or invalid credentials.
        '403':
          description: Forbidden is the status code to return when a client has valid credentials but not enough privileges to perform an action on a resource.
        '404':
          description: Not found
        '500':
          description: An error occurred within sheepCRM, please report to support@sheepcrm.com
  /segments/v2/{bucket}/fieldset/{uid}:
    get:
      operationId: segmentsFieldsetSingle
      summary: Fieldset - single fieldset
      description: |
        A single fieldset that can be used to create a segment, report or export
      tags:
        - Segments
        - Export
      parameters:
        - name: bucket
          in: path
          required: true
          description: The bucket to get the fieldset for
          schema:
            type: string
        - name: uid
          in: path
          required: true
          description: The uid of the fieldset to get
          schema:
            type: string
      responses:
        '200':
          description: |
            A single fieldset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fieldsetSingle'
        '400':
          description: a standard error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /selfservice/v2/{bucket}/form_response:
    post:
      operationId: formResponse
      summary: App - Request empty form responses
      description: |
        This endpoint returns a list of empty form responses for the given form.
      tags:
        - App
        - Forms
      parameters:
        - name: bucket
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/bucket'
        - name: form_ref
          in: query
          required: true
          schema:
            type: string
            $ref: '#/components/schemas/uri'
[...]
